h1 {
    font-size: 38px;
    font-weight: bold;
    line-height: 1.25;
  }
  
ul {
  margin: 0px;
  padding: 0px;
}

li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  list-style: none;
  padding: 0px;
}

hr {
  border: 1px solid #f7e0a3;
  margin-left: 20px;
  margin-right: 20px;
}

input[type="search"],
input[type="search"]:focus {
  background-color: #fffde8;
  border: 1px solid #fffde8;
  box-shadow: none;
  margin-left: 20px;
  padding: 10px;
}

input[type="submit"],
input[type="submit"]:hover,
input[type="submit"]:enabled {
  background-color: #f09c67;
  border: 1px solid #f09c67;
  transition: all ease-in-out 0.2s;
  padding: 10px;
  opacity: 0.9;
}

input[type="submit"]:hover {
  opacity: 1;
}

.location {
  background: none;
  border: none;
  font-size: 30px;
  left: -15px;
  opacity: 0.6;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.location:hover {
  opacity: 1;
}

.weather-overview {
  margin: 20px;
}

.icon {
  position: relative;
  top: 8px;
  width: 150px;
}

.temperature-details {
  float: right;
  margin-right: 20px;
}

.main-temperature {
  font-size: 50px;
  font-weight: bold;
  margin-right: 5px;
  position: relative;
  top: 15px;
}

.unit {
  font-size: 20px;
  position: relative;
  top: -7px;
}

.days {
  color: rgba(39, 33, 66, 0.6);
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.forecast-temperature {
  font-size: 10px;
  margin-top: 5px;
}